.container {
    background-image: url('../../img/bg.png') !important;
    margin-top: 4px;
    margin-bottom: 40px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    width: 65%;
    perspective: 750px;
 }
  

 @media screen and (max-width: 700px) {
    .container {
        width: 90%;
    }
  }